.swiper {
	width: 100%;
	height: 30.43rem;
	position: relative;

	@media (max-width: 48.43rem) {
		height: 100%;
	}
}

.swiper-pagination-bullet-active {
	background-color: $orange;
}

.swiper-button-next,
.swiper-button-prev {
	color: $orange;

	@media (max-width: 61.87rem) {
		top: var(--swiper-navigation-top-offset, 95%);
	}

	@media (max-width: 36rem) {
		position: absolute;
		top: var(--swiper-navigation-top-offset, 99%);

		&::after {
			font-size: unset;
		}
	}
}
